* {
  box-sizing: border-box;
}

:root {
  background-color: #222;
}

div, body, html {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}


#game:hover {
  cursor: none;
}
